<template>
  <div class="myFormContainer">
    <form @submit.prevent="handleSubmit">
      <label>Pick-up point</label>
      <input required v-model="pickup" />

      <label>Drop-off point</label>
      <input required v-model="dropOff" />

      <div style="padding: 20px 0">
        <p class="failure" v-if="getStatus === 'failure'">
          {{ processedResult }}
        </p>
        <p class="success" v-if="getStatus === 'success'">
          Total Distance: {{ processedResult.distance }} <br />Total Time:
          {{ processedResult.time }}
        </p>
      </div>

      <div>
        <button v-if="!submittedOnce" type="submit">Submit</button>
        <button v-if="submittedOnce" type="submit">Re-Submit</button>
        <button @click="clearForm">Clear</button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: "Form",
  props: ["result"],
  data() {
    return {
      pickup: "",
      dropOff: "",
      submittedOnce: false,
      status: "",
    };
  },
  computed: {
    // a computed getter
    getStatus: function () {
      if (this.pickup === "") {
        return "";
      }
      return this.result.status;
    },
    processedResult: function () {
      if (this.result) {
        if (this.result.status === "failure") {
          return this.result.error;
        } else if (this.result.status === "success") {
          return {
            distance: this.result.total_distance,
            time: this.result.total_time,
          };
        }
      }
      // `this` points to the vm instance
      return "";
    },
  },
  methods: {
    handleSubmit() {
      this.submittedOnce = true;
      this.$emit("onFormSubmit", {
        origin: this.pickup,
        destination: this.dropOff,
      });
    },
    clearForm() {
      this.pickup = "";
      this.dropOff = "";
      this.submittedOnce = false;
      this.$emit("onFormClear");
    },
  },
};
</script>

<style>
.myFormContainer form {
  width: 420px;
  background: aliceblue;
  border-radius: 10px;
  padding: 30px;
  margin: 0 30px 30px;
}

.myFormContainer label {
  display: block;
  text-align: left;
  padding: 10px 0;
  font-weight: bold;
  text-transform: capitalize;
  color: #686868;
}

.myFormContainer input {
  display: block;
  width: 97%;
  line-height: 2em;
  border-radius: 8px;
  margin-bottom: 30px;
}

button {
  position: relative;
  margin: auto 20px;
  width: 120px;
  height: 36px;
  border-radius: 18px;
  border: solid #1c89ff 2px;
  font-size: 1.1em;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
button:hover {
  background-color: transparent;
  border-color: greenyellow;
  transition: all 0.1s ease-in-out;
}

.myFormContainer {
  display: inline-flex;
  vertical-align: top;
}

.failure {
  color: red;
}
</style>
