<template>
  <div class="backdrop">
    <div class="popup">
      <h1>{{ header }}</h1>
      <p>{{ content }}</p>
      <button v-if="button !== ''" @click="onClose">{{ button }}</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "Popup",
  props: ["header", "content", "button"],
  methods: {
    onClose() {
      this.$emit("onPopUpClose");
    },
  },
};
</script>

<style>
.backdrop .popup {
  width: 400px;
  padding: 20px;
  margin: 100px auto;
  background: white;
  border-radius: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}
</style>
