<template>
  <div id="app">
    <location-form
      @onFormSubmit="sendRoutingRequest"
      @onFormClear="resetData"
      :result="result"
    ></location-form>

    <div id="mymap"></div>

    <PopUp
      @onPopUpClose="hidePopUp"
      v-if="popUpVisible"
      :header="messageHeading"
      :content="messageContent"
      :button="messageBtn"
    ></PopUp>

    <div v-if="waitingForResponse" id="spinner" class="backdrop">
      <img src="./assets/spinner.png" />
    </div>
  </div>
</template>

<script>
import LocationForm from "./components/Form.vue";
import PopUp from "./components/Popup.vue";
import gmapsInit from "./utils/gmaps";

export default {
  name: "App",
  components: { LocationForm, PopUp },
  data() {
    return {
      state: "routingRequest",
      response: "",
      messageHeading: "Head!",
      messageContent: "Alert",
      messageBtn: "",
      popUpVisible: false,
      result: {},
      map: null,
      google: null,
      waitingForResponse: false,
    };
  },
  methods: {
    /**
     * Try to send routing request
     * @param token {string} Token received from from routing request
     * @returns {Promise<void>}
     */
    async getRoute(token) {
      try {
        const response = await this.makeFetchRequestWithToken(token);
        this.waitingForResponse = false;

        this.handleRouteResponse(response);
      } catch (e) {
        this.showPopUp({
          heading: e,
          message: "Please try again later.",
          buttonText: "OK",
        });
      }
    },

    /**
     * Parse the route info received from server and create and object according to DirectionsService API.
     *
     * @param path {object[]} Path received from server.
     * @returns {object}
     */
    getProcessedRoute(path) {
      const newPath = [];
      path.forEach((point) => {
        newPath.push(point[0] + "," + point[1]);
      });

      const waypoints = [];

      if (newPath.length > 2) {
        for (var i = 1; i < newPath.length - 1; i++) {
          waypoints.push({
            location: newPath[i],
            stopover: true,
          });
        }
      }

      return {
        origin: newPath[0],
        destination: newPath[newPath.length - 1],
        waypoints,
        optimizeWaypoints: true,
        travelMode: this.google.maps.TravelMode.DRIVING,
      };
    },

    /**
     * Handles the route response. Further actions dependent on status "in progress", "success" or "failure".
     *
     * @param route {object} Path response from server.
     * @returns {object}
     */
    handleRouteResponse(route) {
      switch (route.status) {
        case "in progress":
          this.showPopUp({
            heading: "Server busy!",
            message: "Retrying in 3 seconds.",
            buttonText: "",
          });
          setTimeout(() => {
            this.getRoute();
            this.popUpVisible = false;
          }, 3000);
          break;
        case "success":
          this.traceWaypoints(route);
          this.updateFormDetails(route);
          break;
        default:
          this.updateFormDetails(route);
      }
    },

    hidePopUp() {
      this.popUpVisible = false;
    },

    /**
     * Makes fetch request to server with the origin and destination names.
     *
     * @param args {string} Stringified json object object of origin and destination point
     * @returns {Promise<unknown>}
     */
    makeFetchRequestWithPlaces(args) {
      this.waitingForResponse = true;

      return new Promise((resolve, reject) =>
        fetch("https://mock-api.dev.lalamove.com/route", {
          method: "POST",
          mode: "cors",
          headers: {
            "Content-Type": "application/json",
          },
          body: args,
        }).then((res) => {
          if (!res.ok) {
            res.text().then((txt) => {
              reject(txt);
            });
          } else {
            resolve(res.json());
          }
        })
      );
    },

    /**
     * Makes fetch request to server to get the route between origin and destination point with waypoints
     *
     * @param token {string} Token string
     * @returns {Promise<unknown>}
     */
    makeFetchRequestWithToken(token) {
      this.waitingForResponse = true;

      return new Promise((resolve, reject) =>
        fetch("https://mock-api.dev.lalamove.com/route/" + token, {
          //fetch("https://mock-api.dev.lalamove.com/mock/route/500", {
          method: "GET",
          mode: "cors",
          headers: {
            "Content-Type": "application/json",
          },
        }).then((res) => {
          if (!res.ok) {
            res.text().then((txt) => {
              reject(txt);
            });
          } else {
            resolve(res.json());
          }
        })
      );
    },

    resetData() {
      this.result = {};
    },

    /**
     * Try to send routing request.
     *
     * @param args
     * @returns {Promise<void>}
     */
    async sendRoutingRequest(args) {
      this.resetData();
      try {
        const token = await this.makeFetchRequestWithPlaces(args);
        this.waitingForResponse = false;
        this.getRoute(token);
      } catch (e) {
        this.showPopUp({
          heading: e,
          message: "Please try again later.",
          buttonText: "OK",
        });
      }
    },

    /**
     * Shows popup with given configurations (Heading, details and button text).
     *
     * @param config {object}
     */
    showPopUp(config) {
      this.messageContent = config.message;
      this.messageHeading = config.heading;
      this.messageBtn = config.buttonText;
      this.popUpVisible = true;
      this.waitingForResponse = false;
    },

    /**
     * Displays route on map on given waypoints.
     *
     * @param res {object} The map waypoints information.
     */
    traceWaypoints(res) {
      const map = this.map;
      const path = res.path;

      if (this.map === null) {
        return;
      }
      const newRoute = this.getProcessedRoute(path);
      const directionsService = new this.google.maps.DirectionsService();
      const directionsRenderer = new this.google.maps.DirectionsRenderer();

      directionsRenderer.setMap(map);
      directionsService.route(newRoute, (response, status) => {
        if (status === "OK" && response) {
          directionsRenderer.setDirections(response);
        } else {
          window.alert("Directions request failed due to " + status);
        }
      });
    },

    /**
     * Triggers form data update.
     *
     * @param details {object} Details to b updated in the form.
     */
    updateFormDetails(details) {
      this.result = details;
    },
  },
  async mounted() {
    try {
      const google = await gmapsInit();
      const geocoder = new google.maps.Geocoder();
      const map = new google.maps.Map(document.getElementById("mymap"));

      geocoder.geocode({ address: "India" }, (results, status) => {
        if (status !== "OK" || !results[0]) {
          throw new Error(status);
        }

        map.setCenter(results[0].geometry.location);
        map.fitBounds(results[0].geometry.viewport);
      });
      this.map = map;
      this.google = google;
    } catch (error) {
      console.error(error);
    }
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#mymap {
  width: 480px;
  height: 480px;
  display: inline-flex;
  margin: 0 30px 30px;
}

#spinner img {
  top: calc(50% - 75px);
  position: absolute;
  margin: 0 auto;
  display: block;
  left: calc(50% - 75px);
  animation: mymove 5s infinite;
  animation-timing-function: linear;
}

@keyframes mymove {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
</style>
